### Ques 1 Explore split, strip, replace, center, title methods of string data type in python

In [2]:
str="   My name is Udisha Pandey   "
word=str.split()
print(word)
print(type(word))

['My', 'name', 'is', 'Udisha', 'Pandey']
<class 'list'>

`breaks the string into lists of words`

In [3]:
str=str.strip()
print(str)

My name is Udisha Pandey

`Removes white spaces from the beginning and end of string`

In [ ]:
txt="I am learning Python"
print(txt)
txt=txt.replace("Python","Java")
print(txt)

`replaces the specified phrase with another specified phrase`

In [6]:
new_txt=txt.center(20)
print(txt)
print(new_txt)

I am learning Java
 I am learning Java

`creates and returns a new string that is padded with the specified character.`

In [7]:
name='udisha pandey'
name=name.title()
print(name)

Udisha Pandey

` convert the first character in each word to uppercase and the remaining characters to lowercase in the string`

#### QUES2

In [15]:
list=[10,20,30,40,50]
list.append(60)
print(list)
list.pop(2)
print(list)
list1=[1,2,3,1,4,5,1]
list1.remove(1)
print(list1)
list1.sort()
print(list1)

[10, 20, 30, 40, 50, 60]
[10, 20, 40, 50, 60]
[2, 3, 1, 4, 5, 1]
[1, 1, 2, 3, 4, 5]

`append()->adds item to end of list`

`pop()->remove item from the specified index of list,if not given then end item is removed
`

`remove()->remove the first occurence of the given element`

`sort()->sort the items of the list in ascending order`

### QUES3

In [16]:

subject=['Maths','Chemistry','English','Physics']
Place=['Prayagraj','Delhi','Dehradun','Mumbai']
Marks=[97,56,78.5,100]
work=['developer','analyst','manager','accountant']

### QUES4

### IMMUTABLE
1.Immutable objects cannot be changed once created.

2.Eg:int,float,bool,string,unicode,tuple

### MUTABLE

1.Mutable objects can be changed once created.

2.Eg:List,Dictionary,Set


### QUES5

All the variables, class, object, functions, lists, dictionaries etc. in Python are together termed as Python Identifiers. Identifiers are the basis of any Python program. Almost every Python Code uses some or other identifiers.

### RULES:
*An identifier name should not be a keyword.

*An identifier name can begin with a letter or an underscore only.

*An identifier name can contain both numbers and letters along with underscores (A-z, 0-9, and _ ).

*An identifier name in Python is case-sensitive i.e, sum and Sum are two different identifier.